*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;

}
.container{
   max-width: 1200px;
    margin: 0 auto;
}
.header-contacts{
    background: #f2f2f2;
}
.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.contacts p{
    color: #1C2752;

}
.social-media{
    display: flex;
    width: 120px;
    justify-content: space-between;
}
.header-logo{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.contatct{
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.mail-us{
    display: flex;
}
.contact-text{
    display: flex;
    flex-direction: column;
     justify-content: center;
    padding-left: 20px;
}
.mail{
    background: #FFB342;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    display: flex;
    justify-content: center;

}
.mail img{
    width: 30px;
    height: 25px;
    align-self: center;
}
.contact-text p{
    color: #1C2752;
    font-size: 20px;
}
.contact-text a{
    text-decoration: none;
    color:  #7E7E7E;

}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFB342;

    margin: 0 auto;
    position: relative;
    top: 40px;

}
nav{
 display: flex;
}
.menu{
    display: flex;
    justify-content: space-between;

    width: 550px;
    padding: 25px;

}
.menu a{
    text-decoration: none;
    text-transform: capitalize;
    color: #222;
}
.menu a:hover{
    color: #FFF;
}
.menu li{
    list-style: none;
}
.btn-anyquestion{
    height: 50px;
    width: 298px;
    margin: 5px;
    background: #1C2752;
    color: #F4F4F4;
    border: none;


}
.header{
    background: url(../img/headerIMAGE.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 813px;
}
.header-block{
    padding-top: 270px;
}
.header-description{
    display: flex;
    align-items: center;
    color: #fff;
    width: 662px;
    background:  rgba(255, 255, 255, 0.2);

}
.header-description p{
    padding-left: 10px;
}
.header-description img{
    padding-left: 15px;
}
.header-block h1{
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 60px;
    text-transform: capitalize;
    width: 712px;
    padding: 20px 0px;

}
.header-block button{
    width: 227px;
    height: 68px;
    background: #FFB342;
    color: #1C2752;
    border: none;
}
.we-provide-section{
    background: #f5f5f5;
}
.we-provide{
    display: flex;
    padding: 70px 0px;

}
.we-provide-description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;

}
.welcome-label{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    width: 249px;


}
.welcome-label h3{
    color: #1C2752;
    padding-left: 10px;
}
.main-label{
    font-family: 'Mulish', sans-serif;
   color: #1C2752;
    font-size: 45px;
    padding: 15px 0px;
}
.we-provide-text{
    color: #7e7e7e;
    line-height: 27px;


}
.experience{
    display: flex;
    height: 198px;

}
.year-tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;

    background: #f4f4f4;
}
.year{
    font-size: 80px;
     color: #FFB342;

}
.year-text{
    font-size: 20px;
    color: #1C2752;
    width: 112px;
    text-align: center;
    line-height: 26px;
}
.provide-list{
    display: flex;
    flex-direction: column;
justify-content: space-evenly;
    padding-left: 30px;
}
.provide-list li{
    list-style: '- ';
    color: #7e7e7e;
    line-height: 27px;
}

.we-offer-section{
   background: #FFB342;

}
.offer-main-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
}
.text-description{
    color: #1C2752;
    text-align: center;
    width: 764px;
}
.offer-slider{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    width: 800px;
}
.offer-slider button{
   background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 249px;
    height: 68px;
    color: #222;
    font-size: 20px;
    border: 1px solid #1C2752;
}
.offer-slider button:hover{
    background: #fff;
    border: 1px solid #FFFFFF;
}
.offer-slider img{
    padding-right: 10px;
}
.electrical-installation-block{
    display: flex;
    position: relative;
    top: 50px;
    background: #fff;
    padding: 60px;
}
.electrical-installation-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 padding-right: 40px;
}
.electrical-installation-text button{
    width: 190px;
    height: 68px;
    border: none;
    color: #1C2752;
    background: #FFB342;


}
.our-services-section{
   background: #F4F4F4;
    padding-bottom: 50px;

}
.our-services-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 140px;
}
.our-services-description p{
    width: 819px;
    color: #7e7e7e;
    line-height: 27px;
    text-align: center;
}
.area-of-service-label{
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #1C2752;
    background: #fff;
    width: 213px;
}
.area-of-service-label img{
    padding-right: 10px;
}
.services-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    display: flex;
    flex-direction: column;
    background: #1C2752;
    width: 380px;
    height: 378px;
    margin-top: 30px;
    padding: 40px;

}
.item img{
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
}
.item h4{
    color: #FFB342;
    text-transform: capitalize;
    font-size: 25px;
    padding-bottom: 20px;
}
.item p{
    color: #d2d2d2;
    line-height: 27px;
    padding-bottom: 20px;
}
.item a{
    text-decoration: none;
    color: #fff;
}
.why-chose-us-stat{
    display: flex;
    height: 848px;

}
.why-chose-us-block{
    background: url(../img/3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: 1 0 50%;
}
.overview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(28, 39, 82, 0.86);
    width: 560px;
    height: 568px;
    margin: 0 auto;
    align-self: center;
}
.calc-block{
    padding-bottom: 20px;


}
.numbers{
   background: #FFB342;
    width: 110px;

}
