*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'system-ui', sans-serif; 
  background: #fff;
  font-weight: 100;
  
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.header{
  background: #fbf9fa;
    
   
}
.header-item{
    padding: 2px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    background: url(../img/wheat.jpg);
    background-size: 380px;
    background-repeat: no-repeat;
    
}
.nav-bar{
    display: flex;
    justify-content: flex-end;
}
.nav-item{
    list-style: none;
    margin-left: 90px;
}
.nav-item a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    
}
.header-content{
    padding-top: 70px;
    align-self: flex-end;
    width: 620px
    
}
.content{
    line-height: 4.5vh;
    font-size: 26px;
    text-align: justify;
}
.conpany-name{
    color: #e2ba7b;
    font-weight: 400;
}
.learn-more{
    margin-top: 20px;
    background: transparent;
    width: 145px;
    height: 40px;
    border-top-style: none;
    border-bottom-style: none;
    border-color: #65aa44;
    
}
.group-of-companies{
    background: #fbf9fa;
    padding-top: 20px;
}
.group-of-companies-title{
    border-bottom: 2px #65aa44 solid;
    border-left: 10px #65aa44 solid;
    padding: 0  0 1vh 1vh;
    font-size: 3.5vh;
    font-weight: 400;
}
.group-of-companies-text{
    padding-top: 2vh;
    font-size: 2vh;
}
.group-of-company{
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;

}
.group-of-companies-description{
    width: 30%;
    padding-bottom: 4vh;
}
.group-of-companies-description h3{
    color: #65aa44;
    font-size: 2.5vh;
    padding-bottom: 2vh;
}
.group-of-companies-description p{
    font-size: 2vh;
    text-align: justify;
}
.what-do-we-offer{
    padding-top: 4vh;
}
.offers{
    display: flex;
    margin-top: 3vh;
}
.offers-item{
    margin-right: 8vw;
    display: flex;
    align-items: center;
    padding-bottom: 4vh;
}
.offers-item a{
    text-decoration: none;
    color: #000;
    padding-left: 1vw;
    font-weight: 700;
    font-size: 1.8vh;
    
}
.offer-img{
    width: 30px;
    height: 30px;
}
.purhe-price{
    background: #fbf9fa;
    padding: 4vh 0 4vh 0;
}
.table-price{
    margin-top: 4vh;
    border-spacing: 0px;
    width: 100%;
    height: 20vh;
    text-align: center;
    font-size: 1.8vh;
}
.table-price td{
     border: 1px  #e2ba7b solid; 
}
.first-column{
font-weight: 700;
}
.table-description{
    font-style: italic;
    padding-top: 2vh;
    font-size: 2vh;
}
.benefits-of-working{
    padding: 4vh 0 4vh 0;
}
.benefits{
    margin-top: 4vh;
    font-size: 2vh;
    list-style: none;
    
}
.benefits li::before{
    content: "\2022";
    color: #e2ba7b;
    font-weight: bold;
    display: inline-block; 
    width: 2vh;
    margin-left: 1vw;
}
.our-news{
    padding: 4vh 0 4vh 0;
    background: #fbf9fa;
}
.news-container{
    display: flex;
    justify-content: space-between;
}
.news{
    margin: 20px 0 20px 0;
    display: flex;
    padding: 10px;
    width: 25vw;
    box-shadow: 0px 0px 10px 0px #D3D3D3;
    align-items: center;
}
.news-img{
    width: 100px;
    height: 90%;
    
    
}
.news-content{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    font-size: 1.8vh;
    line-height: 2.7vh;
}
.date-news{
    font-style: italic;
    color: #808080;
}
.footer{
    background: #f5f5f5;
    padding: 20px 0 30px 0;
    display: flex;
    
}
.footer-title{
    width: 130px;
}
.social-meadia-img{
    display: flex;
    flex-direction: column;

}
.footer-img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}
.footer-item{
    display: flex;
    margin-left: 30px;
    width: 100%;
}
.contact-info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.footer-social-media{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.footer-text{
    padding-bottom: 20px;
}
@media (max-width: 992px){
    .container{
        max-width: 750px;
    }
    .nav-bar {
    display: flex;
    margin-left: 220px; 
    text-align: center;
}
    .nav-item{
        margin-left: 30px;
    }
    .nav-item a{
        font-size: 16px;
    }
    .header-content{
      width: 455px;  
    }
    .offers{
        
    flex-direction: column;
    width: 40%;
    height: 100px;
    flex-wrap: wrap;
    }
    .offers-item{
        padding-bottom: 2px;
    }
    .table-price td, th {
        padding: 5px 10px 5px 11px;
        border: 1px #e2ba7b solid;
    }
    .news-container {
    flex-direction: column;
}
    .news{
        width: 100%;
    }
    .social-meadia-img{
        display: flex;
    }
    .footer {
    flex-direction: column;
    
}
    .social-meadia-img{
        flex-direction: row;
    }
    .footer-img {
    width: 20px;
    height: 19px;
    margin: 2px;
}
    .footer-title {
    width: 260px;
}
    .footer-social-media {
    padding-left: 26px;
}
}
@media (max-width: 768px){
    .container{
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }

    .purhe-price{
        display: none;
    }
    .group-of-company{
    
        flex-direction: column;
        
    }
    .group-of-companies-description{
        width: 100%;
    }
    .header-content{
        align-self: center;
        width: 85vw;
    }
    .content{
    font-size: 3.8vw;
    text-align: center;
    }
    .nav-bar{
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0px;
    }
    .nav-item {
    margin: 0 6vw;
    line-height: 7vh;
    font-weight: 500;
}
    .footer-title {
    width: 35vw;
    font-size: 3vw;
}
    .footer-text{
        font-size: 2vw;
    }
    
    .footer-img {
    width: 40px;
    height: 35px;
    margin: 4px;
}
    .nav-item a {
    font-size: 20px;
}
    .learn-more{
        margin-left: 38%;
    }
}